<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Trail List </h2>
    </div>
    <div class="col-3">
        <a asp-action="Upsert" class="btn btn-primary form-control">
            <i class="fas fa-plus"></i>&nbsp;Add New Trail</a>
    </div>
</div>
<div class="container border bottom-0 rounded p-2 m-2">
    <table id="tblData" class="table table-bordered border-dark">
        <thead>
            <tr>
                <th class="text-dark">National Park</th>
                <th class="text-dark">Trail Name</th>
                <th class="text-dark">Distance</th>
                <th class="text-dark">Elevation</th>
                <th class="text-dark">Actions</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts
{
   <script src="~/js/trail.js"></script>
}